node_modules
backend/venv
backend/.venv
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

venv
".env" 
"backend/.env" 
